.blur-loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    min-height: 40px;
  }
  
  .blur-char {
    opacity: 0;
    filter: blur(10px);
  
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.12em;
    color: rgba(255, 255, 255, 0.75);
    white-space: pre;
    will-change: opacity, filter;
  }
  
  
  .space-char {
    width: 0.4em;
  }
  