html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #000000;
}

app-root {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* Fix canvas inline spacing */
canvas {
  display: block;
}
